<div class="card">
    <h4 class="card-header">Please sign in</h4>
    <div class="card-body">
        <form [formGroup]="form!" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="email" email formControlName="username"
                       required autofocus class="form-control"
                       [ngClass]="{'is-invalid': submitted && f.username.errors }"/>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.email">Enter a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" required formControlName="password"
                       class="form-control"
                       [ngClass]="{
        'is-invalid': submitted && f.password.errors }"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="remember_me"></label>
                <input type="checkbox" id="remember_me" value="remember-me"/> &nbsp; Remember me

            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
</div>
